
.container-fluid {
    background: rgba(30, 42, 57, 0.54)
    rgba(217, 217, 217, 0);
}

form {
    width: 520px;
    height: auto;
    color: #eee;
    background-color: rgba(7, 19, 35, 0.6);
    padding: 20px 30px;
    border-radius: 5px;
}

.sign-header {
    font-size: 28px;
    font-weight: 700;
    color: rgba(166, 124, 92, 1);
}

.errors {
    color: red;
}

button {
    width: 100%;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgba(166, 124, 92, 1);
}